.splitpanes__pane {
  /* box-shadow: 0 0 3px rgba(0, 0, 0, 0.2) inset; */
  /* justify-content: center; */
  /* align-items: center; */
  /* display: flex; */
  /* position: fixed; */
  /* padding: 2px; */

  /* padding: 2px; */
  /* margin: 5px; */
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset;
}

.splitpanes {
  margin: 5px;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
}

body {
  /* background-color: #424242; */
}

/* body {
  font-family: Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.6);
  font-size: 5em;
}

p {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: #666;
  z-index: 10;
  font-size: 12px;
}

p a {
  color: inherit;
} */


.ant-layout-header {
  background: #424242;
  color: aliceblue;
}